/* Headings style */
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
/* Spacer */
.spacer {
  height: 50px;
}
/* Icons style */
i.fas.fa-check-circle {
  content: '\f058';
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  font-family: Fontawesome;
  color: #00c50f;
}
i.fas.fa-chevron-right{
  content: "\F054";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  font-family: Fontawesome;
  color: #000000;
  cursor: pointer;
}
/* Buttons style */
.btn-edit{
  margin-right: 15px;
}
.btn-add {
  margin-bottom: 20px;
  float: right;
}
/* Footer */
.footer{
  right: 0;
  bottom: 0;
  left: 0;
  background: #152F4F;
  color:white;

  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
      }
    }
  }
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}

/* Footer login photo */
img.footer-img {
  float: right;
  width: 100%;
  margin-top: -125px;
  margin-right: -65px;
}

/* Login page */
.login-container{
  padding: 60px;
}

/* InputFields Password */
#password-container, #confirm-password-container{
  display: none;
}

/* Appointments table style */
tr.clickable-row {
  font-weight: bold;
  transition: 0.25s ease-in-out;
}
tr.clickable-row:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
.nieuw {
  background-color: #d0ffd0;
}
tr.nieuw:hover {
  background-color: #b2f9b2;
}
.storing {
  background-color: #ffdea2;
}
tr.storing:hover {
  background-color: #fdd284;
}
.spoed {
  background-color: #ff9f9f;
}
tr.spoed:hover {
  background-color: #ff8080;
}

/* Homepage style */
.home-img{
  margin:auto;
  width: 60%;
}

/* Navbar style */
.navbar-light .navbar-nav .nav-link {
  color: #000;
}
a.nav-link {
  font-weight: bold;
  font-size: 18px;
}

/* single afspraak actions style */
.start-actions-container form button {
  padding: 15px 50px;
  font-size: 20px;
  font-weight: bold;
}
.start-actions-container form {
  text-align: center;
}
.start-actions-container {
  margin: 60px 50px 60px 50px;
}

/* Audio alert style */
#play_audio{
  display: none;
}
.spoed-message {
  background-color: #ab0000;
  width: 200px;
  color: #ffffff;
  float: right;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 13px 5px 0px 5px;
  border-radius: 15px;
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
}

/* Shake effect */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}